@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.appBlock {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.app {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}

h1 {
  font-size: 5em;
}

h2 {
  font-family: "Exo", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 700;
  margin-top: 15px;
}

h3 {
  color: rgb(67, 67, 67);
  font-size: 0.9em;
  font-weight: 400;
  margin: 0px;
}

.timerInput {
  width: 600px;
  margin: 10px 0px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 0.75em;
  margin-bottom: 10px;
}

input {
  width: 82%;
  margin: 0px;
  padding-left: 10px;
  height: 50px;
  text-align: left;
  border: none;
  font-size: 2em;
  background-color: rgb(248, 248, 248);
  border-radius: 0;
}

input:focus {
  outline: none;
}

button {
  font-size: large;
  color: black;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 18%;
  background-color: rgb(174, 174, 174);
  border: none;
}

.timer {
  text-align: center;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
}

.progress {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  button {
    width: 25%;
  }
}
